{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
      <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
        <h1 class="cover-heading">Teams</h1>
        <p class="cover-text">View all your teams below:</p>
        <table>
          <tr>
            <th> Team Name </th>
          </tr>
          <tr>
            <td> Sample Team Name 1 </td>
          </tr>
          <tr>
            <td> Sample Team Name 2 </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}