{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="encapsulate-box">
          <h1 style="color: rgb(4, 58, 4);">Welcome Back!</h1>
          <h2 style="color: rgb(4, 58, 4); font-weight: normal; font-size: large;">Login to continue</h2>
          <form action="{% url 'log_in' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-group">
              {% include 'partials/bootstrap_form.html' with form=form %}
            </div>
            <input type="submit" value="Log in" class="btn btn-primary custom-button">
          </form>
          <a href="{% url 'home' %}" class="btn btn-secondary custom-button">Back</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}