{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="encapsulate-box">
          <div class="button-container">
            <h1 style="color: rgb(3, 77, 3);">Sign up</h1>
            <form action="{% url 'sign_up' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                {% include 'partials/bootstrap_form.html' with form=form %}
              </div>
              <input type="submit" value="Sign up" class="btn btn-primary custom-button">
            </form>
            <a href="{% url 'home' %}" class="btn btn-secondary custom-button">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}