{% extends 'base_content.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">Task List</h1>
            {% include 'partials/search_form.html' %}
            <div class="task-list">
                <ul>
                    {% if tasks %}
                        {% for task in tasks %}
                            <li>
                                <div class="card task-card {% if task.completed %}completed-task{% endif %}" style="width: 18rem;">
                                    <div class="card-title-container">
                                        <h5 class="card-title">{{ task.title }}</h5>
                                    </div>
                                    <div class="card-body task-card-body">
                                      <h6 class="card-subtitle mb-2 text-muted">
                                        {% if task.due_date %}
                                        Due Date: {{ task.due_date }}
                                        {% endif %}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted"> Team: {{ task.related_to_team.team_name }}</h6>
                                      <p class="card-text task-card-description">Description: {{ task.description }}</p>
                                      <a href="{% url 'view_task' task.id %}" class="card-link">View Task</a>
                                    </div>
                                  </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
