{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Task</h1>
        <form action="{% url 'create_task' team_id %}" method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Create task" class="btn btn-primary">
        </form>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
{% endblock %}