{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{teams.team_name}}</h1>
      <h2>Team Leader: {{teams.team_leader}}</h2>
      <h2>Description: {{teams.team_description}}</h2>
      <div>
        <h3> Current Team Members </h3>
        <ul>
        {% for member in teams_members %}
        <li><p>{{member.username}}</p></li>
        {%endfor%}
        <ul>
      </div>
      <form action="{% url 'create_task' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Create task" class="btn btn-primary">
        {% if tasks %}
          {% for task in tasks %}
            <p>{{ task.title }}</p>
              {% if task.created_by == request.user %}
                <a href="{% url 'edit_task' task.id %}" class="btn btn-secondary">Edit</a>
              {% endif %}
        {% endfor %}
      {% endif %}
      </form>
    </div>
  </div>
  <div>
    {%if user == teams.team_leader %}
    <form method="post" action="{% url 'delete_team' team_id=teams.team_id %}">
      {%csrf_token%}
      <input type="submit" value="Delete Team" class="btn btn-primary">
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}