{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <!--TEAM INFORMATION COMPONENT-->
  <div class="title-container"> 
    <h1 class="page-title">{{teams.team_name}}</h1>
    <h2>Team Leader: {{teams.team_leader}}</h2>
    <h2>Description: {{teams.team_description}}</h2>
  </div>
  <div class="row align-items-start">
    <!--TASKS COMPONENT-->
    <div class="col-9">
      {% if teams.team_tasks.exists %}
      <div class="task-search-bar">
        {% include 'partials/search_form.html' %}
      </div>
        {% if user == teams.team_leader %}
        <a href="{% url 'audit_log' teams.team_id %}" class = "btn btn-secondary mt-3">Audit Log</a> 
        <br>
        {% endif %}
      {% endif %}
      <a 
      href="{% url 'create_task' teams.team_id %}" 
      class="btn btn-primary mt-3">
      Create task
    </a>
        {% if teams.team_tasks.exists %}
        <div class="team-task-list">
          <ul>
            {% for task in tasks %}
            <li>
              <div class="card task-card {% if task.completed %}completed-task{% endif %}" style="width: 18rem;">
                  <div class="card-title-container">
                      <h5 class="card-title"><a href="{% url 'view_task' task.id %}">{{ task.title }}</a></h5>
                  </div>
                  {% if task.priority == 'high' and task.days_until_due <= 3 and task.complete == False %}
                    <div class="card-header high-priority-nearing-due">
                  {% else %}
                    <div class="card-body task-card-body">
                  {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">
                      {% if task.due_date %}
                      Due Date: {{ task.due_date }}
                      {% endif %}</h6>
                    <p class="card-text task-card-description">Description: {{ task.description }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">
                      {% if task.priority %}
                      Priority: {{ task.priority }}</h6>
                      {% endif %}</h6>
                      {% if request.user in task.assigned_to.all or request.user == task.created_by %}
                        <form method="post" action="{% url 'update_task_completion' task.id %}">
                          {% csrf_token %}
                          <input type="hidden" name="task_id" value="{{ task.id }}">
                          <input type="checkbox" id="task-completed-{{ task.id }}" name="completed" {% if task.completed %}checked{% endif %} onchange="this.form.submit()">
                          <label>Completed</label>
                        </form>
                      {% endif %}
                    <a href="{% url 'view_task' task.id %}" class="card-link">View Task</a>
                    {% if task.created_by == request.user or request.user in task.assigned_to.all %}
                    <a href="{% url 'edit_task' task.id %}" class="card-link">Edit task</a>
                    {% endif %}
                  </div>
            </li>      
                    {% endfor %}
                  </div>
                    {% endif %}
          </ul>
    
      </div>
      <!--TEAM MEMBERS COMPONENT-->
    <div class="members-container col-3">
      <h4 class="members-title">Members</h4>
      <div>
        {%if user == teams.team_leader %}
        <form method="post" action="{% url 'delete_team' team_id=teams.team_id %}">
          {%csrf_token%}
          <input type="submit" value="Delete Team" class="btn btn-danger" onclick="return confirm('Delete Team?')">
        </form>
        {% else %}
        <form method="post" action="{% url 'leave_team' team_id=teams.team_id %}">
          {%csrf_token%}
          <input type="submit" value="Leave Team" class="btn btn-danger" onclick="return confirm('Leave Team?')">
        </form>
        {% endif %}
      </div>
      {% if user == teams.team_leader%}
      <a href="{% url 'add_members' teams.team_id %}" class = "btn btn-primary"> Add Members</a>
      {%endif%}
      <ul class="members-list">
      {% for member in teams_members %}
      <li class="members">{{member.username}}   </li>
        {% if user == teams.team_leader and member != teams.team_leader %}
        <form id="remove" method="post" action="{% url 'remove_member' team_id=teams.team_id username=member.username %}">
          {%csrf_token%}
          <input type="submit" value="Remove" class="btn btn-danger" onclick="return confirm('Remove {{member.username}}?')">
        </form>
   
        {% endif %}
      {%endfor%}
      </ul>
    </div>
  </div>
  </div>
{% endblock %}