
/*
 * Alerts
 */

 .alert {
  border-radius: 0px;
}

/*
 * Navbar
 */

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item {
  display: flex;
  align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 3rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgb(241, 238, 238);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 0px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cover-card-block {
  opacity: 1;
}

/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear: both;
  float: left;
}

.profile-text {
  overflow: hidden;
  padding-left: 20px;
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}

.content a:hover {
  text-decoration: underline;
  color: rgb(14, 53, 14);
}

/*
 * Background
 */
.back-ground {
  background-image: url('{% static "/images/background.jpeg" %}'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}

*/ .container {
  padding-top: 50px;
}

/*
 * Dashboard
 */

 th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #c9c9c9;
}

.tasks-table-row :hover {
  background-color: #ffffff;
}

.teams-table-row :hover {
  background-color: #ffffff;
}

.high-priority-nearing-due {
  background-color: #f59797;
}

.teams-card2 {
  background-color: rgb(231, 226, 226);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-bottom: 20px;
}

/*
CAN GET RID OF THINGS BELOW THIS UNDER DASHBOARD BC ONLY 
*/

.teams-heading {
  font-size: 2.0rem;
}

.teams-text {
  font-size: 1.7rem;
}

.invites-card {
  background-color: rgb(231, 226, 226);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.invites-heading {
  font-size: 2.0rem;
}

.invites-text {
  font-size: 1.7rem;
}

.tasks-card {
  background-color: rgb(231, 226, 226);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tasks-heading {
  font-size: 2.0rem;
}

.tasks-text {
  font-size: 1.7rem;
}


/* Team Page */
.section-title {
  text-align: center;
  margin-bottom: 50px;
}
.members-title{
  color: white;
  background-color: black;
  padding: 0px 30px 0px;
}
.members-container {
  text-align: center;
  /* padding-top: 37.33px; */
  padding-bottom: 10px;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.members-list {
  list-style: none;
  display: inline-block;
  text-align: center;
  overflow-y:scroll;
  max-height: 50vh;
  width:auto;
}

.members {
  background-color:  rgb(4, 58, 4);
  width: fit-content;
  border-radius: 30px;
  color: white;
  padding: 10px;
}
.members-list form{
  margin-bottom:20px;
}
.encapsulate-box {
  background-color: white;
  padding: 30px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
}

/* .login-box form {
  margin-top: 40px;
} */

.form-group {
  margin-bottom: 40px;
}

.custom-button {
  background-color: darkgreen;
  border: rgb(3, 46, 3);
  color: white;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-button:hover {
  background-color: rgb(4, 58, 4);
}
/* Task Page */
 .task-container{
  text-align: center;
  border-radius: 40px;
  height:35rem;
  overflow:hidden;
} 
.assign-list{
  list-style: none;
  padding-right: 40px;
  overflow:scroll;
  height:200px;
}
.page-title, .title-container{
  color:  rgb(4, 58, 4);
  background-color: white;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0px;
  border-radius: 30px 30px 0px 0px;
}

.card-title-container{
  background-color: rgb(4, 58, 4);
  text-align: center;
  color: white;
  overflow: hidden;
}
.task-list, .team-task-list{
  margin-top: 30px;
 
}
.task-list ul, .team-task-list ul{
  display: flex;
  flex-wrap: wrap;
  
}

.task-list li, .team-task-list li{
  list-style: none;
  margin-right: 20px;
}

.task-card{
  border: 0px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.task-card-description{
  overflow:hidden;
  max-height: 100px
}
.task-search-bar{
  background-color: white ;
  /* padding-top: 3px; */
  padding: 3px 10px 10px 0px;
  color: rgb(4, 58, 4);
  text-align: right;
}



@media (min-width: 768px) {

  .login-box {
    width: 200%;
    max-width: 1200px;
    margin-right: left;
  }

  .login-box h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .login-box h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .title-bar {
    background-color: rgb(231, 226, 226);
    padding: 10px;
    margin-bottom: 20px;
  }

  .dashboard-title {
    color: black;
    font-size: 24px;
    margin: 0;
  }
}